<div class="page-container">
  <h1>Snackbar</h1>

  <div class="page-content">
    <div class='flex justify-content-start align-items-center' style="gap: 10px">
      <mat-form-field appearance="fill">
        <mat-label>Horizontal position</mat-label>
        <mat-select [(value)]="horizontalPosition">
          <mat-option value="start">Start</mat-option>
          <mat-option value="center">Center</mat-option>
          <mat-option value="end">End</mat-option>
          <mat-option value="left">Left</mat-option>
          <mat-option value="right">Right</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Vertical position</mat-label>
        <mat-select [(value)]="verticalPosition">
          <mat-option value="top">Top</mat-option>
          <mat-option value="bottom">Bottom</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="openSnackBar()" aria-label="Show an example snack-bar">
        Pool party!
      </button>
    </div>


    <br />
    <mat-divider></mat-divider>
    <br />


    <div class='flex justify-content-start align-items-center' style="gap: 10px">
      <mat-form-field appearance="fill">
        <mat-label>Message</mat-label>
        <input matInput value="Disco party!" #message>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Action</mat-label>
        <input matInput value="Dance" #action>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="openSnackBar2(message.value, action.value)">Show snack-bar</button>
    </div>
  </div>
</div>


