<div class="page-container">
  <h1>Cards</h1>

  <div class="page-content">
    <div style="max-width: 400px">
      <!-- Card 1 -->
      <div class="mb20px">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Actions Buttons</mat-card-title>
            <mat-card-subtitle>Start</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <mat-divider></mat-divider>

      <!-- Card 2 -->
      <div class="mt20px mb20px">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Actions Buttons</mat-card-title>
            <mat-card-subtitle>End</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions align="end">
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <mat-divider></mat-divider>

      <!-- Card 3 -->
      <div class="mt20px mb20px">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz
              breeds of dog from Japan. A small, agile dog that copes very well with
              mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <mat-divider></mat-divider>

      <!-- Card 4 -->
      <div class="mt20px mb20px">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            <mat-card-title>Shiba Inu</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>This card has divider and indeterminate progress as footer</p>
            <p>{{ longText }}</p>
            <mat-divider></mat-divider>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
          <mat-card-footer>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </mat-card-footer>
        </mat-card>
      </div>

      <mat-divider></mat-divider>

      <!-- Card 5 -->
      <div class="mt20px mb20px">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Small</mat-card-subtitle>
              <img
                mat-card-sm-image
                src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              />
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            {{ longText }}
          </mat-card-content>
        </mat-card>
      </div>

      <mat-divider></mat-divider>

      <!-- Card 6 -->
      <div class="mt20px mb20px">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Medium</mat-card-subtitle>
              <img
                mat-card-md-image
                src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              />
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            {{ longText }}
          </mat-card-content>
        </mat-card>
      </div>

      <mat-divider></mat-divider>

      <!-- Card 7 -->
      <div class="mt20px mb20px">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Large</mat-card-subtitle>
              <img
                mat-card-lg-image
                src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              />
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            {{ longText }}
          </mat-card-content>
        </mat-card>
      </div>

      <mat-divider></mat-divider>

      <!-- Card 8 -->
      <div class="mt20px mb20px">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Extra large</mat-card-subtitle>
              <img
                mat-card-xl-image
                src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              />
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            {{ longText }}
          </mat-card-content>
        </mat-card>
      </div>

      <mat-divider></mat-divider>

      <!-- Card 9 -->
      <div class="mt20px mb20px">
        <mat-card>
          <mat-card-content>Simple card</mat-card-content>
        </mat-card>
      </div>

      <mat-divider></mat-divider>

      <!-- Card 10 -->
      <div class="mt20px mb20px">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>This card indeterminates progress bar.</p>
            <p>{{ longText }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
        <div class="mb20px"></div>
      </div>
    </div>
  </div>
</div>


