.example-h2, .example-margin { margin: 10px }

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-form mat-slide-toggle {
  margin: 8px 0;
  display: block;
}
