<div class="page-container">
  <h1>Spinner</h1>

  <div class="page-content">
    <div>
      <p><b>Progress spinner configuration</b></p>

      <section class="example-section">
        <label class="example-margin"><b>Color:</b></label>
        <mat-radio-group [(ngModel)]="color">
          <mat-radio-button class="example-margin" value="primary">Primary</mat-radio-button>
          <mat-radio-button class="example-margin" value="accent">Accent</mat-radio-button>
          <mat-radio-button class="example-margin" value="warn">Warn</mat-radio-button>
        </mat-radio-group>
      </section>

      <section class="example-section mb20px">
        <label class="example-margin"><b>Mode:</b></label>
        <mat-radio-group [(ngModel)]="mode">
          <mat-radio-button class="example-margin" value="determinate">Determinate</mat-radio-button>
          <mat-radio-button class="example-margin" value="indeterminate">Indeterminate</mat-radio-button>
        </mat-radio-group>
      </section>

      <mat-divider></mat-divider>

      <section class="example-section mb20px mt20px" *ngIf="mode === 'determinate'">
        <label class="example-margin"><b>Progress:</b></label>
        <mat-slider class="example-margin">
          <input type="range" [(ngModel)]="value" matSliderThumb />
        </mat-slider>
      </section>

      <mat-divider></mat-divider>

      <div class='mb20px mt20px'>
        <p><b>Result</b></p>
        <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
        </mat-progress-spinner>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class='mb20px mt20px'>
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>


